@use './global/' as *;
@use "sass:math";

// globalはその他のフォルダで読み込むだけなのでここで読み込む必要はない。
@use './foundation/**'; // index.scssは省略できるので、fundationフォルダでuseしたものをここで使うことができる。
@use './layout/**';
@use './component/**';
@use './project/**';
@use './utility/**';
@use './external/**';




/*******************************************************

.l-page-top

********************************************************/
// @use './global/' as *;

.l-page-top{
  position: fixed;
  bottom: rem(15);
  right: rem(15);
  z-index: 400;

  @include mq('tab'){
    bottom: rem(30);
    right: rem(30);
  }
}

/*******************************************************

.p-page-top

********************************************************/
// @use './global/' as *;

.p-page-top{
  width: rem(50);
  height: rem(50);
  // background-color: rgba(255, 255, 255, .1);
  background-color: transparent;
  border: rem(1) solid $gold;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.p-page-top:hover{
  @include mq('tab'){
    opacity: .3;
  }
}

.p-page-top.is-show{
  opacity: 1;
  visibility: visible;
}

/*******************************************************

.c-btn-page-top

********************************************************/
// @use './global/' as *;

.c-btn-page-top{
  width: rem(20);
  height: rem(20);
  border-top: rem(3) solid $gold;
  border-left: rem(3) solid $gold;
  transform: translateY(rem(5)) rotate(45deg);
}