/*******************************************************

.c-search-form  検索ボックス ブログ一覧で使用

********************************************************/
@use './global/' as *;

.c-search-form{
  position: relative;
  display: flex;
  border-top: rem(1) solid $gray;
  border-bottom: rem(1) solid $gray;
  border-right: rem(1) solid $gray;
  border-left: rem(1) solid $gray;
  border-radius: rem(2);
}

.c-search-form input[type="text"]{
  // border-top: rem(1) solid $gray;
  // border-bottom: rem(1) solid $gray;
  // border-right: none;
  // border-left: rem(1) solid $gray;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.c-search-form__btn{
  padding-top: rem(5);
  padding-bottom: rem(5);
  padding-right: rem(10);
  padding-left: rem(10);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-search-form__btn img{
  width: rem(20);
}
