/*******************************************************

.l-drawer

********************************************************/
@use './global/' as *;

// ドロワー
.l-drawer{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 400;
}


