/*******************************************************

.l-overlay

********************************************************/
@use './global/' as *;

// 黒のレイヤー
.l-overlay{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
}
