/*******************************************************

.l-page-top

********************************************************/
@use './global/' as *;

.l-page-top{
  position: fixed;
  bottom: rem(8);
  right: rem(8);
  z-index: 200;
}
