/*******************************************************

.l-sidebar-blog

********************************************************/
@use './global/' as *;

.l-sidebar-blog{
  margin-top: rem(40);

  @include mq('tab'){
    margin-top: 0;
    width: 30%;
  }
}
