/*******************************************************

.p-contact

********************************************************/
@use './global/' as *;

.p-contact{
  padding-top: rem(40);
  padding-bottom: rem(40);
  background-color: $bgSection;

  @include mq('tab'){
    padding-bottom: rem(80);
  }
  @include mq('tab'){
    padding-top: rem(60);
    padding-bottom: rem(120);
  }
}

.p-contact__box{
  width: 100%;
  max-width: rem(520);

  @include mq('pc'){
    max-width: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.p-contact__img{
  overflow: hidden;
  position: relative;

  @include mq('pc'){
    width: 100%;
    max-width: rem(580);
  }
}

.p-contact__img::before{
  content: '';
  display: block;
  padding-top: 67.246376811%;
}

// 画像
.p-contact__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-contact__contents{
  @include mq('pc'){
    margin-right: rem(80);
    width: 100%;
    max-width: rem(440);
  }
}

.p-contact__header{
  margin-top: rem(30);
}

.p-contact__description{
  margin-top: rem(30);
  font-weight: 500;
  font-size: rem(16);
  line-height: 2;
  letter-spacing: normal;
  color: $text;
}

.p-contact__btn{
  margin-top: rem(30);
}
