/*******************************************************

.p-works-single-slider 制作実績詳細ページ　swiperのカスタマイズ

********************************************************/
@use './global/' as *;

.p-works-single-slider{
  position: relative;
  padding-left: rem(40);
}

/*******************************************************
swiper メイン
********************************************************/
.p-works-single-slider__main{
  position: static;
}

// ページネーション 上書きなど
.p-works-single-slider__main .swiper-pagination{
  width: auto;
  text-align: start;
  top: 0;
  bottom: auto;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// バレット(ここでは数字)
.p-works-single-slider__main .swiper-pagination-bullet{
  font-family: $font-family-sub;
  font-weight: 700;
  font-size: rem(20);
  line-height: 1.6;
  letter-spacing: normal;
  color: $text;
  // 上書き
  width: auto;
  height: auto;
  border-radius: 0;
  background: none;
}


.slide-img{
  overflow: hidden;
  position: relative;
}
.slide-img::before{
  content: '';
  display: block;
  padding-top: 67.246376811%;
}
.slide-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-works-single-slider__main .swiper-slide-active .slide-img,
.p-works-single-slider__main .swiper-slide-duplicate-active .slide-img,
.p-works-single-slider__main .swiper-slide-prev .slide-img{
  @include animation(
    $name: zoomUp,
    $duration: 10s,
    $timing-function: linear,
    $delay: 0s,
    $fill-mode: both,
    );
}

@keyframes zoomUp {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.15);
  }
}


/*******************************************************
swiper サブ
********************************************************/
.p-works-single-slider__sub{
  padding-top: rem(10);
  padding-bottom: rem(10);
  padding-right: rem(10);
  padding-left: rem(10);
  width: 50%;
  background-color: $white;
  display: flex;
  position: absolute;
  bottom: rem(-60);
  left: 0;
  z-index: 100;

  @include mq('tab'){
    padding-top: rem(20);
    padding-bottom: rem(20);
    padding-right: rem(20);
    padding-left: rem(20);
    bottom: rem(-100);
  }
}

.p-works-single-slider__sub .p-works-single-slider__sub01{
  margin-right: rem(10);
  margin-left: 0;

  @include mq('tab'){
    margin-right: rem(20);
  }
}

.p-works-single-slider__sub .p-works-single-slider__sub02{
  margin-right: 0;
  margin-left: 0;
}

/*******************************************************
swiper サブ１
********************************************************/

.p-works-single-slider__sub01{
  width: 50%;
}

.p-works-single-slider__sub01 .swiper-wrapper{
  height: inherit;
}

.p-works-single-slider__sub01 .swiper-slide{
  height: inherit;
}

.p-works-single-slider__sub01 .swiper-slide{
  overflow: hidden;
  position: relative;
}

.p-works-single-slider__sub01 .swiper-slide::before{
  content: '';
  display: block;
  padding-top: 100%;
}

.p-works-single-slider__sub01 .swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/*******************************************************
swiper サブ２
********************************************************/
.p-works-single-slider__sub02{
  width: 50%;
}

.p-works-single-slider__sub02 .swiper-wrapper{
  height: inherit;
}

.p-works-single-slider__sub02 .swiper-slide{
  height: inherit;
}

.p-works-single-slider__sub02 .swiper-slide{
  overflow: hidden;
  position: relative;
}

.p-works-single-slider__sub02 .swiper-slide::before{
  content: '';
  display: block;
  padding-top: 100%;
}

.p-works-single-slider__sub02 .swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

