/*******************************************************

.p-works-single-swiper-thumbs  制作実績詳細ページ　サムネイル

********************************************************/
@use './global/' as *;

.swiper.p-works-single-swiper-thumb{
  // overflow: visible;
  padding-top: rem(8);
  padding-bottom: rem(25);

  @include mq('tab'){
    padding-top: rem(13);
    padding-bottom: rem(30);
  }
}

.p-works-single-swiper-thumb .swiper-slide{
  transition: all .5s;
}
.p-works-single-swiper-thumb .swiper-slide.swiper-slide-thumb-active{
  opacity: .3;
  transform: translateY(rem(-5));
}

.p-works-single-swiper-thumb__img{
  overflow: hidden;
  position: relative;
  border-radius: rem(5);
}

.p-works-single-swiper-thumb__img::before{
  content: '';
  display: block;
  padding-top: 100%;
}

.p-works-single-swiper-thumb__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// スクロールバー
.p-works-single-swiper-thumb .swiper-scrollbar .swiper-scrollbar-drag{
  background-color: $gold;
}